@charset "UTF-8";
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes animation_page {
  0% {
    transform: translateY(10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 1;
  }
  100% {
    display: block;
    opacity: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

@media screen and (max-width: 425px) {
  header a {
    position: absolute;
    color: #353535;
    font-size: larger;
    cursor: pointer;
    margin-top: 0.2rem;
    margin-left: 1rem;
  }
  header img {
    display: flex;
    width: 45%;
    margin-left: 6rem;
    margin-top: 1.5rem;
  }

  .container_menu img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 1rem;
  }
}
.Lapalette {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 40px 40px 0px 0px;
  margin-top: -3rem;
  z-index: 1;
}

.Picture i {
  display: flex;
  position: absolute;
  margin-left: 85%;
  margin-top: 2rem;
  font-size: x-large;
}
.Picture p {
  margin-left: 1.5rem;
  font-size: 1.7rem;
  padding-top: 1.5rem;
  font-family: "Shrikhand", Arial, sans-serif;
}

/***************************************************************************************************/
/*                                      Animation coeur                                            */
/***************************************************************************************************/
.fa-heart:hover {
  color: black;
  cursor: pointer;
  animation: heart 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #e86edb, #ff79da);
  background: -webkit-gradient(to left, #9356dc, #b35cdc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/***************************************************************************************************/
/*                                      Animation check                                     */
/***************************************************************************************************/
.checks {
  height: 5rem;
  display: flex;
  margin-top: 1rem;
  border-radius: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  overflow: hidden;
  box-shadow: 2px 5px 8px 2px rgb(207, 207, 207);
}
.checks:hover .menuItem_confirmation {
  width: 200px;
}
.checks:hover .menuItem_icon {
  transform: rotate(180deg);
  transition-duration: 500ms;
}
.checks .fa-check:before {
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-top: 3px;
}

.menuItem_confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.menuItem_wrapIcon {
  height: 2.5rem;
  width: 1.6 rem;
  background-color: #fff;
  display: flex;
  margin-right: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.menuItem_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
}

.fa, .fas {
  font-weight: 900;
}

/***************************************************************************************************/
/*                                          Menu Entrée                                            */
/***************************************************************************************************/
.Entree {
  margin-bottom: 2.5rem;
  animation-name: animation_page;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

.starter p, .Dessert p, .flat p {
  font-size: x-large;
  margin-left: 1.5rem;
}

.starter::after, .Dessert::after, .flat::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #99e2d0;
  position: absolute;
  left: 1.7rem;
  margin-top: -15px;
}

.starter_menu, .Dessert_menu3, .Dessert_menu2, .Dessert_menu, .flat_menu {
  width: 92%;
  background-color: #ffffff;
  height: 75px;
  margin-left: 1rem;
  border-radius: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.starter_menu .title, .Dessert_menu3 .title, .Dessert_menu2 .title, .Dessert_menu .title, .flat_menu .title {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.starter_menu .price, .Dessert_menu3 .price, .Dessert_menu2 .price, .Dessert_menu .price, .flat_menu .price {
  margin-left: 88%;
  display: flex;
  margin-top: 15px;
}
.starter_menu .price:hover, .Dessert_menu3 .price:hover, .Dessert_menu2 .price:hover, .Dessert_menu .price:hover, .flat_menu .price:hover {
  transition-duration: 0.5s;
  flex-grow: 1;
}
.starter_menu .accompaniment, .Dessert_menu3 .accompaniment, .Dessert_menu2 .accompaniment, .Dessert_menu .accompaniment, .flat_menu .accompaniment {
  width: 70%;
  margin-left: 1rem;
  font-size: small;
  margin-top: -1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.starter_menu p, .Dessert_menu3 p, .Dessert_menu2 p, .Dessert_menu p, .flat_menu p {
  margin: 0.3rem;
}

/***************************************************************************************************/
/*                                          Plats du menu                                          */
/***************************************************************************************************/
.flat {
  margin-top: 3rem;
}

.flat::after {
  content: "";
  width: 2.9rem;
  height: 0.2rem;
  background-color: #99e2d0;
  position: absolute;
  left: 1.6rem;
  margin-top: -20px;
}

.Plats {
  margin-bottom: 2.5rem;
  animation-name: animation_page;
  animation-duration: 1.2s;
  animation-delay: 0.8s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

.flat_menu .title {
  font-size: medium;
}
.flat_menu .accompaniment {
  width: 70%;
  font-size: small;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/***************************************************************************************************/
/*                                          Desserts du menu                                       */
/***************************************************************************************************/
.Dessert {
  margin-top: 3rem;
}

.Dessert::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #99e2d0;
  position: absolute;
  left: 1.6rem;
  margin-top: -20px;
}

.Desserts {
  margin-bottom: 2.5rem;
  animation-name: animation_page;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

.Dessert_menu2 .title {
  font-size: 1.1rem;
}
.Dessert_menu2 .accompaniment {
  font-size: 0.9rem;
}

.Dessert_menu3 .accompaniment {
  font-size: 0.9rem;
}

/***************************************************************************************************/
/*                                          Bouton                                                 */
/***************************************************************************************************/
.btn {
  display: flex;
  align-items: center;
  padding-right: 0.3rem;
  margin-top: 3rem;
  padding-left: 1rem;
  margin-left: 5rem;
  width: 165px;
  height: 50px;
  background: linear-gradient(159deg, rgb(252, 120, 218) 13%, rgb(147, 86, 220) 100%);
  border-radius: 30px 30px 30px 30px;
}

.btn a {
  display: flex;
  position: absolute;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: larger;
  color: white;
}

/***************************************************************************************************/
/*                                          Bas de page                                            */
/***************************************************************************************************/
footer {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  background-color: #353535;
}
footer a {
  color: white;
}
footer ul {
  list-style-type: none;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}
footer ul li {
  padding: 5px 0 5px 0;
}
footer ul .fa-utensils {
  margin-right: 12px;
}
footer ul .fa-hands-helping {
  margin-right: 5px;
}
footer h1 {
  padding-top: 0.3rem;
  display: flex;
  height: 10px;
  color: white;
  font-size: larger;
  margin-left: 1.5rem;
  font-family: "Shrikhand", Arial, sans-serif;
}

/***************************************************************************************************/
/*                                      Media query Desktop                                    */
/***************************************************************************************************/
@media screen and (min-width: 821px) and (max-width: 1080px) {
  .checks {
    height: 5rem;
    display: flex;
    margin-top: 1rem;
    border-radius: 20px;
    margin-right: 1rem;
    margin-left: 1rem;
    overflow: hidden;
    box-shadow: 2px 5px 8px 2px rgb(207, 207, 207);
  }
  .checks:hover .menuItem_confirmation {
    width: 200px;
  }
  .checks:hover .menuItem_icon {
    transform: rotate(180deg);
    transition-duration: 500ms;
  }
  .checks .fa-check:before {
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-top: 3px;
  }

  .menuItem_confirmation {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }

  .menuItem_wrapIcon {
    height: 2.5rem;
    width: 1.6 rem;
    background-color: #fff;
    display: flex;
    margin-right: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }

  .menuItem_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #99e2d0;
  }

  .fa, .fas {
    font-weight: 900;
  }

  header a {
    position: absolute;
    color: #353535;
    font-size: x-large;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  header img {
    display: flex;
    width: 35%;
    margin-left: 20rem;
    margin-top: 1.5rem;
  }

  .container_menu img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-size: auto;
    margin-top: 1rem;
  }

  .Lapalette {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 40px 40px 0px 0px;
    margin-top: -3rem;
    z-index: 1;
  }

  .Menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .Entree {
    width: 30%;
  }

  .Plats {
    width: 30%;
  }

  .Desserts {
    width: 30%;
  }

  .Picture i {
    display: flex;
    margin-left: 90%;
  }

  .starter_menu, .flat_menu, .Dessert_menu, .Dessert_menu2, .Dessert_menu3 {
    width: 100%;
    height: 75px;
    margin-left: 0;
    border-radius: 15px;
  }
  .starter_menu .title, .flat_menu .title, .Dessert_menu .title, .Dessert_menu2 .title, .Dessert_menu3 .title {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: bold;
  }
  .starter_menu .price, .flat_menu .price, .Dessert_menu .price, .Dessert_menu2 .price, .Dessert_menu3 .price {
    position: absolute;
    margin-left: 23%;
  }
  .starter_menu .price:hover, .flat_menu .price:hover, .Dessert_menu .price:hover, .Dessert_menu2 .price:hover, .Dessert_menu3 .price:hover {
    transition-duration: 0.5s;
    flex-grow: 1;
  }
  .starter_menu .accompaniment, .flat_menu .accompaniment, .Dessert_menu .accompaniment, .Dessert_menu2 .accompaniment, .Dessert_menu3 .accompaniment {
    width: 195px;
    margin-left: 1rem;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.5rem;
  }
  .starter_menu p, .flat_menu p, .Dessert_menu p, .Dessert_menu2 p, .Dessert_menu3 p {
    margin: 0.3rem;
  }

  .flat_menu .title {
    width: 240px;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .starter::after, .flat::after, .Dessert::after {
    content: "";
    width: 2.9rem;
    height: 0.2rem;
    background-color: #99e2d0;
    position: absolute;
    margin-left: 1.5%;
    left: 1.6rem;
    margin-top: -20px;
  }

  .flat::after {
    content: "";
    width: 2.9rem;
    height: 0.2rem;
    background-color: #99e2d0;
    position: absolute;
    margin-left: 35%;
    left: 1.6rem;
    margin-top: -20px;
  }

  .Dessert::after {
    content: "";
    width: 3rem;
    height: 0.2rem;
    background-color: #99e2d0;
    position: absolute;
    margin-left: 68.3%;
    left: 1.6rem;
    margin-top: -20px;
  }

  .Dessert {
    margin-top: 0;
  }

  .flat {
    margin-top: 0;
  }

  .btn {
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 5rem;
  }

  footer {
    position: absolute;
    width: 100%;
    margin-top: 2rem;
  }

  .footer_center {
    display: flex;
    margin-left: 40%;
  }

  .footer_center h1 {
    font-size: x-large;
  }

  .contacter ul li {
    display: flex;
    margin-left: 38%;
  }
}
@media screen and (min-width: 481px) and (max-width: 820px) {
  header a {
    position: absolute;
    color: #353535;
    font-size: x-large;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  header img {
    display: flex;
    width: 45%;
    margin-left: 25%;
    margin-top: 1.5rem;
  }

  .container_menu img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-size: auto;
    margin-top: 1rem;
  }

  .btn {
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
    margin-top: 3rem;
    padding-left: 1rem;
    margin-left: 35%;
    width: 165px;
    height: 50px;
    background: linear-gradient(159deg, rgb(252, 120, 218) 13%, rgb(147, 86, 220) 100%);
    border-radius: 30px 30px 30px 30px;
  }

  .btn a {
    display: flex;
    position: absolute;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: larger;
    color: white;
  }

  footer {
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=palettedugout.css.map */
